.home-card{
   img{
    height: 60vh;
    @media (max-width:1200px){
        height: 35vh;
    }
    @media (max-width:991px){
        height: 28vh;
    }
    @media (max-width:767px){
        height: 32vh;
    }
    @media (max-width:480px){
        height: 25vh;
    }
    @media (max-width:380px){
        height: 20vh;
    }
   }
}