.home-card{
   img{
    height: 400px;
    @media (max-width:1200px){
        height: 320px;
    }
    @media (max-width:991px){
        height: 280px;
    }
    @media (max-width:767px){
        height: 320px;
    }
    @media (max-width:480px){
        height: 260px;
    }
    @media (max-width:380px){
        height: 220px;
    }
   }
}