@mixin xs{
  @media (max-width:300px) {
      @content;   
  }
}
@mixin sm{
  @media (max-width:450px) {
      @content;
  }
}
@mixin md{
  @media (max-width:768px) {
      @content;
  }
}
@mixin lg{
  @media (max-width:960px) {
      @content;
  }
}
@mixin xl{
  @media (max-width:1200px) {
      @content;
  }
}

// .product-container {
//   margin-top: 100px;
// overflow: hidden;
//   .product-image-main {
//     padding: 10px 0;

//     // width: 40vw;

//     flex-direction: column;
//     align-items: center;

//     .product-image {

//       height: 52vh;
//       border: 2px solid rgb(133, 132, 132);
//       border-radius: 10px;
//       @include xl{
//         width: 38vw;
//         height: 44vh;
//       }
//       @include lg{
//         width: 62vw;
//         height: 50vh;
//       }
//       @include md{
//         width: 60vw;
//         height: 50vh;
//       }
//       @include sm{
//         width: 68vw;
//         height: 40vh;
//       }

//       img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//         border-radius: 10px;
//       }
//     }

//     .flex_row {
//       width: 100%;
//       justify-content: center;
//       padding-top: 10px;
//       .thumbnail {
//         width: 6vw;
//         height: 13vh;
//         cursor: pointer;
//         @include xl{
//           width: 6vw;
//           height: 7vh;
//         }
//         @include lg{
//           width: 12vw;
//           height: 10vh;
//         }
//         @include md{
//           width: 13vw;
//           height: 10vh;
//         }
//         @include sm{
//           width: 12vw;
//           height: 6vh;
//         }
//         @include xs{
//           width: 10vw;
//           height: 5vh;
//         }
   
//         img {
//           width: 100%;
//           height: 100%;
//           object-fit: cover;
//           border: 2px solid rgb(133, 132, 132);
//         }
//       }
//     }
//   }
.product-image-thumbnail{

  height: 11.5vh;
  width: 5.5vw;


  @include xl{
    height: 6vh;
    width: 5.5vw;
  }
  @include lg{
    height: 5.5vh;
    width: 5vw;
  }
  @include md{
    height: 10vh;
    width: 9.5vw;
  }
  @media (max-width:650px){
    height: 9.5vh;
    width: 11vw;
  }
  @media (max-width:500px){
    height: 8vh;
    width: 12vw;
  }
  @include sm{
    height: 6.8vh;
    width: 11.5vw;
  }
  @media (max-width:350px){
    height: 5.5vh;
    width: 11vw;
  }
}
  .product-content {
    padding: 10px 0px;
    .size-box{
     color: grey;
    }
    .size-box:hover{
      color:black;
    }
    }
  
.bigImageskeleton{
  height: 450px;
  @include xl{
    height: 350px;
  }
  @include lg{
    height: 300px;
  }
  @include md{
    height: 380px;
  }
  @include sm{
    height: 250px;
  }
  @include xs{
    height: 200px;
  }
}
.sideImage{
  height: 80px;
  @include xl{
    height: 60px;
  }
  @include lg{
    height: 45px;
  }
  @include md{
    height: 65px;
  }
  @include sm{
    height: 35px;
  }
  @include xs{
    height: 30px;
  }
}
