.shop-card {
  cursor: pointer;

  img {
    height: 45vh;
    @media (max-width: 1200px) {
      height: 25vh;
    }
    @media (max-width: 992px) {
      height: 35vh;
    }
    @media (max-width: 768px) {
      height: 25vh;
    }
    @media (max-width: 480px) {
      height: 24vh;
    }
  }
}
